.web-repoch {
  @include full-bg;
  background: imgurl('2.png') no-repeat;
  background-size: cover;
  &-cont {
    @include center-1200;
    & > h1.title {
      text-align: center;
    }
    & > p {
      font-size: rem(25);
      margin-top:  27px;
      text-align: center;
    }
    &-candy {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: rem(35);
      & > img {
        width: 110px;
        margin-right: 9px;
      }
    }
    &-rule {
      display: flex;
      align-items: center;
      margin-top: rem(106);
      padding: rem(39) rem(51);
      & > .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: rem(44);
        margin-right: rem(145);
        & > img {
          width: 247px;
          margin-bottom: rem(25);
        }
      }
      & > .right {
        flex: 1;
        font-size: rem(25);
        & > h2 {
          font-size: rem(46);
          font-family: 'Universal Serif';
          line-height: rem(62);
          margin-bottom: rem(20);
          text-transform: uppercase;
          & > span {
            color: #EF267C;
          }
        }
        & > .detail {
          position: relative;
          margin-top: rem(35);
          & > ul {
            padding: rem(14) 0;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            font-size: rem(25);
            background-color: rgba(#EF267C , 0.1);
            margin-bottom: rem(20);
          }
          &::after {
            content: '';
            position: absolute;
            left: 33%;
            top: 0;
            bottom: 0;
            right: 33%;
            background-color: rgba(#EF267C , 0.12);
          }
        }
      }
    }
  }
}