.m-home-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: rem(38);
  padding: 0 rem(27);
  box-sizing: border-box;
  font-family: 'Akrobat-Bold';
  background-color: #000;
  & > .cont {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1001;
    & > .left {
      & > img {
        width: rem(30);
      }
    }
    & > .right {
      display: flex;
      align-items: center;
      font-family: 'Akrobat-Bold';
      & > img {
        cursor: pointer;
        width: rem(20);
        margin-right: rem(14);
      }
      & > .open {
        margin-right: 0;
        width: rem(16);
      }
    }
  }
  // &.fixed {
  //   background-color: #000;
  // }
  &-popup {
    padding-top: rem(38);
    background-color: #4F1142;
    box-shadow: 0 rem(-10) rem(30) rem(10) #290321;
    overflow-y: auto;
    box-sizing: border-box;
    & > .title {
      padding-bottom: rem(34);
      & > li {
        position: relative;
        margin-top: rem(20);
        padding-left: rem(23);
        font-size: rem(17);
        font-weight: bold;
        z-index: 1;
        &.active::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background-color: #EF267C;
          height: rem(48);
          z-index: -1;
        }
        .title-group {
          padding: 0;
          border: 0;
          & > .connect-wallet-connect {
            height: rem(48);
            line-height: rem(48);
          }
          & > .connect-wallet-list {
            padding-left: rem(34);
            & > li {
              font-family: 'Akrobat-Bold';
              font-weight: 100;
              &:last-child {
                border-bottom: 1px solid rgba(#fff, .1);
              }
            }
          }
        }
      }
    }
    .connect-wallet {
      padding: rem(31) 0 rem(21);
      padding-left: rem(23);
      border-top: 1px solid rgba(#fff, .1);
      &-connect {
        font-size: rem(17);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        padding-right: rem(26);
        & > .account {
          display: flex;
          align-items: center;
          & > img {
            width: rem(19);
            margin-right: rem(13);
          }
        }
        & > .angel {
          height: 0px;
          width: 0px;
          border: rem(6) solid transparent;
          border-bottom-color: transparent;
          border-top-color: #fff;
          border-left-color: transparent ;
          border-right-color: transparent;
          margin-top: rem(10);
          transition: transform .3s;
        }
        & > img {
          width: rem(23);
        }
        &.show {
          & > .angel {
            transform: rotate(-180deg);
            margin-top: 0;
          }
        }
      }
      &-list {
        height: 0;
        overflow: hidden;
        transition: all .3s;
        margin-top: rem(12);
        & > li {
          padding: rem(13) 0;
          border-bottom: 1px solid rgba(#fff, .1);
          font-size: rem(15);
          font-weight: bold;
          display: flex;
          align-items: center;
          & > img {
            width: rem(25);
            margin-right: rem(10);
          }
          &:last-child {
            border: 0;
          }
          .logout {
            width: rem(21);
          }
        }
        &.show {
          height: auto;
          overflow: visible;
        }
      }
    }
    & > .avatar {
      display: flex;
      align-items: center;
      margin: rem(29) 0 rem(30) rem(24);
      font-size: rem(17);
      font-weight: bold;
      img {
        width: rem(20);
        margin-right: rem(10);
      }
    }
  }
}
