.web-app {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: rem(23);
  line-height: rem(33);
  h1.title {
    font-size: rem(46);
    line-height: rem(62);
    font-family: 'Universal Serif';
    text-transform: uppercase;
    font-weight: bold;
  }
}