.web-connect-icon {
  position: fixed;
  top: rem(408);
  left: calc((100vw - 1200px) / 2 - 130px);
  display: flex;
  flex-direction: column;
  z-index: 888;
  & > img {
    width: rem(37);
    margin-bottom: rem(26);
    cursor: pointer;
    transition: all .3s;
    &:hover {
      transform: scale(1.1);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width: 1460px) {
  .web-connect-icon {
    left: 30px;
  }
}