.web-connect-icon {
  position: fixed;
  top: rem(408);
  left: rem(210);
  display: flex;
  flex-direction: column;
  & > img {
    width: rem(37);
    margin-bottom: rem(26);
    cursor: pointer;
    transition: all .3s;
    &:hover {
      transform: scale(1.1);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width: 1380px) {
  .web-connect-icon {
    left: rem(30);
  }
}
@media screen and (min-width:1381px) and (max-width: 1600px) {
  .web-connect-icon {
    left: rem(100);
  }
}
@media screen and (min-width:1601px) and (max-width: 1920px) {
  .web-connect-icon {
    left: rem(140);
  }
}
