.web-connect-icon {
  position: fixed;
  top: rem(408);
  // left: rem(210);
  left: calc((100vw - 1200px) / 2 - 140px);
  display: flex;
  flex-direction: column;
  & > img {
    width: rem(37);
    margin-bottom: rem(26);
    cursor: pointer;
    transition: all .3s;
    &:hover {
      transform: scale(1.1);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width: 1500px) {
  .web-connect-icon {
    left: 0;
  }
}