.web-stake-banner {
  width: 100%;
  height: 300px;
  margin-top: 38px;
  background-image: imgurl('stake/banner.png');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 54px;
  box-sizing: border-box;
  & > h1 {
    font-family: 'Universal Serif';
    font-size: rem(70);
    line-height: rem(74);
  }
  & > div {
    display: flex;
    justify-content: space-between;
    padding-right: 23px;
    box-sizing: border-box;
    font-size: rem(23);
    margin-top: rem(25);
    & > i {
      position: relative;
      display: inline-block;
      width: rem(153);
      height: rem(43);
      background-color: #fff;
      border-radius: rem(23);
      line-height: rem(43);
      text-align: center;
      color: #EF267C;
      transition: all .3s;
      cursor: pointer;
      font-style: normal;
      &:hover {
        transform: scale(1.1);
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem(16);
        width: rem(4);
        height: rem(8);
        background-image: imgurl('stake/icon-right.png');
        background-size: cover;
      }
    }
  }
}