.web-terms {
  @include full-bg;
  &-cont {
    @include center-1200;
    & > h1 {
      text-align: center;
      font-size: 40px !important;
      line-height: 54px !important;
      margin-bottom: 36px;
    }
    & > .cont {
      margin-bottom: rem(50);
      & > h2 {
        font-size: rem(24);
        margin-bottom: rem(24);
        font-family: 'Universal Serif';
        text-transform: uppercase;
        font-weight: bold;
      }
      & > p {
        font-size: rem(20);
        line-height: rem(28);
        margin-bottom: rem(20);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    
  }
}