.m-terms {
  @include m-full-bg;
  &-cont {
    & > h1 {
      text-align: center;
      font-size: rem(22) !important;
      line-height: rem(35) !important;
      margin-bottom: rem(42);
    }
    & > .cont {
      & > h2 {
        font-size: rem(15);
        margin-bottom: rem(24);
        font-family: 'Universal Serif';
        text-transform: uppercase;
        font-weight: bold;
      }
      & > p {
        font-size: rem(13);
        line-height: rem(18);
        margin-bottom: rem(24);
      }
      &:last-child {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}