.web-button {
  width: 174px;
  height: 56px;
  padding: 0;
  line-height: 56px;
  text-align: center;
  background-image: imgurl('btn-bg.png');
  background-size: 100% 100%;
  color: #fff;
  font-size: rem(25);
  border: 0;
  cursor: pointer;
  font-family: 'Akrobat-Bold';
  transition: all .3s;
  box-shadow: 0 10px 100px 10px #000;
  font-weight: bold;
  transition: all .6s;
  &:hover {
    transform: scale(1.1);
  }
   &.mini{
    width: 133px;
  }
  &.large {
    width: rem(280);
    height: rem(86);
    line-height: rem(86);
    font-size: rem(30);
  }
  &.medium {
    width: 237px;
    height: 78px;
    line-height: 78px;
    font-size: rem(30);
  }
  &.border {
    background: transparent !important;
    border: 1px solid #fff;
  }
  &.disabled {
    opacity: .5;
  }
  &.blacks{
    background-image: imgurl('btn-black-bg.png');
    background-size: 100% 100%;
  }
  & > .loading-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      width: rem(43);
      animation: loading 1.3s linear infinite;
    }
  }
  &.mobile {
    width: rem(139);
    height: rem(43);
    line-height: rem(43);
    text-align: center;
    font-size: rem(17);
    border: 0;
    white-space: nowrap;
    &.mini {
      width: rem(117);
      line-height: rem(33);
      line-height: rem(33);
      font-size: rem(15);
    }
    &.large {
      width:  rem(343);
      height: rem(48);
      line-height: rem(48);
      font-size: rem(24);
      border-radius: 0;
    }
    &.border {
      background: transparent !important;
      border: 1px solid #fff;
    }
    & > .loading-wrap {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: none !important;
      & > img {
        width: rem(24);
        animation: loading 1.3s linear infinite;
      }
    }
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}