.web-button {
  width: 405px;
  height: rem(81);
  padding: 0;
  line-height: rem(81);
  text-align: center;
  background-image: imgurl('btn-bg.png');
  background-size: 100% 100%;
  color: #fff;
  font-size: rem(25);
  color: #fff;
  border: 0;
  cursor: pointer;
  font-family: 'Akrobat-Bold';
  transition: all .3s;
  box-shadow: 0 10px 100px 10px #000;
  font-weight: bold;
  transition: all .6s;
  &:hover {
    transform: scale(1.1);
  }
   &.mini {
    width: 133px;
  }
  &.large {
    width:  487px;
    height: 68px;
    line-height: 68px;
    font-size: 2.5rem;
  }
  &.border {
    background: transparent !important;
    border: 1px solid #fff;
  }
  &.disabled {
    opacity: .5;
  }
  & > .loading-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      width: rem(43);
      animation: loading 1.3s linear infinite;
    }
  }
  &.mobile {
    width: rem(320);
    height: rem(53);
    line-height: rem(53);
    text-align: center;
    font-size: rem(17);
    border: 0;
    white-space: nowrap;
    &.mini {
      width: rem(96);
    }
    &.large {
      width:  rem(343);
      height: rem(48);
      line-height: rem(48);
      font-size: rem(24);
      border-radius: 0;
    }
    &.border {
      background: transparent !important;
      border: 1px solid #fff;
    }
    & > .loading-wrap {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & > img {
        width: rem(30);
        animation: loading 1.3s linear infinite;
      }
    }
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}