.m-repoch {
  @include m-full-bg;
  &-cont {
    padding: 0 rem(15);
    box-sizing: border-box;
    & > h1.title {
      text-align: center;
    }
    & > p {
      font-size: rem(13);
      line-height: rem(19);
      margin-top: rem(9);
      text-align: center;
    }
    &-candy {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: rem(21);
      font-size: rem(17);
      & > img {
        width: rem(55);
        margin-right: rem(3);
      }
    }
    &-rule {
      margin-top: rem(23);
      padding: rem(23) rem(5);
      box-sizing: border-box;
      & > .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: rem(27);
        margin-bottom: rem(44);
        & > img {
          width: rem(167);
          margin-bottom: rem(21);
        }
      }
      & > .bottom {
        font-size: rem(13);
        text-align: center;
        & > h2 {
          font-size: rem(21);
          font-family: 'Universal Serif';
          line-height: rem(29);
          margin-bottom: rem(18);
          text-transform: uppercase;
          font-weight: 400;
          & > span {
            color: #EF267C;
          }
        }
        & > .detail {
          position: relative;
          margin-top: rem(18);
          & > ul {
            padding: rem(11) 0;
            text-align: center;
            display: grid;
            grid-template-columns: 1.8fr 1.2fr 2fr;
            align-items: center;
            font-size: rem(13);
            background-color: rgba(#EF267C , 0.1);
            margin-bottom: rem(10);
          }
          &::after {
            content: '';
            position: absolute;
            left: 36%;
            top: 0;
            bottom: 0;
            right: 40%;
            background-color: rgba(#EF267C , 0.12);
          }
        }
      }
    }
  }
}