.web-profile-map {
  &-wrap {
    margin-top: rem(29);
    padding: rem(59) rem(165);
    box-sizing: border-box;
    &-cont {
      display: grid;
      grid-template-columns: repeat(3, 292px);
      grid-template-rows: repeat(3, 292px);
      & > div {
        position: relative;
        & > img {
          width: 100%;
        }
        & > span {
          height: rem(35);
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 0 rem(9) 0 rem(14);
          background-color: #EF267C;
          border-radius: rem(15)0 0 0 ;
          line-height: rem(35);
          font-size: rem(29);
          font-family: 'Universal Serif';
        }
    }
    }
  }
}