.web-home-banner {
  position: relative;
  background-image: imgurl('banner-bg.png');
  background-size: 100% 100%;
  z-index: 1;
    & > .cont {
      position: relative;
      @include center-1200;
      padding-top: rem(140);
      padding-bottom: rem(180);
      & > h1, & > h2 {
        width: rem(681);
        font-family: 'Universal Serif';
        font-weight: 400;
      }
      & > h1 {
        line-height: rem(85);
        margin-top: rem(11);
        font-size: rem(70);
      }
      & > .line {
        width: rem(600);
        height: 2px;
        background-color: #fff;
      }
      & > h2 {
        line-height: rem(52);
        margin-bottom: rem(16);
        font-size: rem(46);
      }
      z-index: 3;
    }
    & > .person {
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: rem(8);
      height: 94%;
      object-fit: contain;
    }
  &-buy {
    width: 405px;
    margin-top: rem(40);
    font-family: 'Akrobat-Bold';
    & > .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: rem(26);
      padding-bottom: rem(14);
      border-bottom: 0.5px solid #fff;
      font-size: 18px;
      &:first-child {
        margin-top: 0;
      }
    }
    & > p {
      font-size: 18px;
      text-align: center;
      margin: rem(30) 0 rem(80x);
      color: #fff;
    }
    .web-button {
      display: block;
      width: 100%;
      margin-top: rem(30);
    }
  }
}