.web-home-banner {
  background-image: imgurl('banner-bg.png');
  background-size: 100% 100%;
  z-index: 1;
  padding-bottom: rem(8);
  .wrap {
    position: relative;
    height: 100%;
    overflow-y: hidden;
    & > .cont {
      position: relative;
      @include center-1200;
      padding-top: rem(140);
      padding-bottom: rem(180);
      & > h1, & > h2 {
        width: rem(681);
        font-family: 'Universal Serif';
      }
      & > h1 {
        line-height: rem(85);
        margin-top: rem(11);
        font-size: rem(70);
      }
      & > .line {
        width: rem(681);
        height: 2px;
        background-color: #fff;
      }
      & > h2 {
        line-height: rem(52);
        margin-bottom: rem(16);
        font-size: rem(46);
      }
      z-index: 3;
    }
    & > .person {
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 94%;
      object-fit: contain;
      animation: float-top-bottom 1s ease-in-out infinite alternate;
    }
  }
  &-buy {
    width: 405px;
    margin-top: rem(40);
    font-family: 'Akrobat-Bold';
    & > .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: rem(26);
      padding-bottom: rem(14);
      border-bottom: 0.5px solid #fff;
      font-size: 18px;
      &:first-child {
        margin-top: 0;
      }
    }
    & > p {
      font-size: 18px;
      text-align: center;
      margin: rem(30) 0;
      color: #fff;
    }
    &-step {
      margin-bottom: rem(30);
    }
  }
}
@keyframes float-top-bottom {
  0%{transform: translateY(0);}
  100%{transform: translateY(30px);}
}