.web-home-address-input {
  width: 406px;
  height: 50px;
  position: relative;
  & > input {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(#fff, .5);
    font-size: rem(23);
    color: #fff;
    background-color: rgba(#EF267C, .56);
    padding: 0 60px 0 23px;
    box-sizing: border-box;
    outline: none;
    z-index: 1;
    &::-webkit-input-placeholder {
      color: rgba(#fff, .6);
      font-size: rem(19);
    }
  }
  & > i {
    display: block;
    position: absolute;
    width: 50px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    &::after {
      content: '';
      width: 26px;
      height: 26px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: imgurl('icon-search.png');
      background-size: 100% 100%;
      position: absolute;
      z-index: 3;
    }
  }
  &.mobile {
    width: rem(322);
    height: rem(39);
    & > input {
      width: 100%;
      height: 100%;
      font-size: rem(15);
      color: #fff;
      padding: 0 rem(10) 0 rem(15);
      &::-webkit-input-placeholder {
        font-size: rem(13);
      }
    }
    & > i {
      width: rem(40);
      &::after {
        width: rem(17);
        height: rem(17);
        right: rem(14);
      }
    }
  }
}