.web-home-address-input {
  width: 406px;
  height: 50px;
  position: relative;
  background-color: rgba(#EF267C, .56);
  display: flex;
  & > input {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(#fff, .5);
    font-size: rem(23);
    color: #fff;
    padding: 0 50px 0 23px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    z-index: 1;
    &::-webkit-input-placeholder {
      color: rgba(#fff, .6);
      font-size: rem(19);
    }
  }
  & > i {
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 26px;
    right: 19px;
    top: 50%;
    transform: translateY(-50%);
    background: imgurl('icon-search.png');
    background-size: 100% 100%;
    z-index: 2;
    cursor: pointer;
  }
  &.mobile {
    width: rem(322);
    height: rem(39);
    & > input {
      width: 100%;
      height: 100%;
      font-size: rem(15);
      color: #fff;
      padding: 0 rem(40) 0 rem(15);
      &::-webkit-input-placeholder {
        font-size: rem(13);
      }
    }
    & > i {
      width: rem(17);
      height: rem(17);
      right: rem(14);
    }
  }
}