@font-face {
  font-family: 'Akrobat-Bold';
  src: url('font/Akrobat-Bold.otf');
}
@font-face {
  font-family: 'Akrobat-SemiBold';
  src: url('font/Akrobat-SemiBold.otf');
}
@font-face {
  font-family: 'Lovato Light';
  src: url('font/Lovato Light.otf');
}
@font-face {
  font-family: 'Universal Serif';
  src: url('font/Universal Serif.ttf');
  font-weight: 400 !important;
}
