.web-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-close {
      position: absolute;
      top: rem(31);
      right: rem(31);
      width: 12px;
      height: 12px;
      background-image: imgurl('icon-close.png');
      background-size: 100% 100%;
      cursor: pointer;
      z-index: 100;
    }
  }
  &.pc {
    .web-modal-mask {
      background-color: rgba(#000, .3);
    }
  }
}