.web-home-invitation {
  position: relative;
  padding: rem(146) 0 rem(120) 0;
  @include center-1200;
  & > p {
    margin-top: 30px;
    width: rem(642);
    &:first-child {
      margin-top: 43px;
    }
  }
  & > img {
    position: absolute;
    top: rem(30);
    left: rem(800);
    height: 100%;
  }
}