.web-home-invitation {
  position: relative;
  padding: 146px 0 120px 0;
  @include center-1200;
  & > p {
    margin-top: 30px;
    width: 642px;
    &:first-child {
      margin-top: 43px;
    }
  }
  & > img {
    position: absolute;
    top: 0;
    right: -140px;
    width: 900px;
  }
}