.web-stepper {
  display: flex;
  align-items: center;
  font-size: 20px;
  &-sub, &-add {
    width: 56px;
    height: 56px;
    background-image: imgurl('step-del.png');
    background-size: 100% 100%;
    cursor: pointer;
    border: 0;
  }
  &-add {
    background-image: imgurl('step-add.png');
    background-size: 100% 100%;
  }
  label {
    display: block;
    margin: 0 7px;
    text-align: center;
    // border: 1px solid #fff;
    flex: 1;
    height: 56px;
    text-align: center;
    line-height: 56px;
    box-sizing: border-box;
    background-image: imgurl('step-bg.png');
    background-size: 100% 100%;
  }
  button:disabled {
    color: rgba(#fff, .3);
  }
  &.mobile {
    font-size: rem(13);
    .web-stepper-sub, .web-stepper-add {
      width: rem(45);
      height: rem(45);
      text-align: center;
    }
    label {
      margin: 0 rem(6);
      height: rem(45);
      text-align: center;
      line-height: rem(45);
    }
    button:disabled {
      color: rgba(#fff, .3);
    }
  }
}
