.web-home-feoverse {
  @include center-1200;
  margin-top: rem(82);
  & > p {
    margin-top: rem(39);
    margin-bottom: rem(52);
  }
  &-wrap {
    font-family: 'Akrobat-Bold';
    width: 1200px;
    display: grid;
    grid-template-columns: 422px auto;
    grid-template-rows: 230px 299px;
    grid-gap: 25px;
    .item{
      position: relative;
      font-size: 43px;
      font-family: 'Akrobat-Bold';
      cursor: pointer;
      transition: all .3s;
      font-weight: bold;
      & > img {
        width: 100%;
      }
      & > span {
        position: absolute;
        top: 22px;
        left: 22px;
        transition: all .3s;
      }
      & > div {
        position: absolute;
        width: 100%;
        background-color: rgba(#000, .3);
        font-size: 25px;
        height: 69px;
        line-height: 69px;
        padding-left: 22px;
        bottom: 0;
        left: 0;
        transition: all .3s;
        box-sizing: border-box;
        & > .name {
          font-size: 25px;
        }
      }
      &:hover {
        transform: scale(1.06);
      }
    }
    & > .right {
      grid-column: 2 /2;
      grid-row: 1/ 3;
      display: grid;
      grid-template-columns: 252px 229px 222px;
      grid-template-rows: 163px 170px 171px;
      grid-gap: 25px;
      & > .three {
        grid-column: 1 / 1;
        grid-row: 1 / 3;
      }
      & > .six {
        grid-column: 2 / 4;
        grid-row: 1 / 1;
      }
      & > .five {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
      }
      & > .four {
        grid-column: 1 / 3;
        grid-row: 3 / 3;
      }
      & > .seven {
        grid-column: 3 / 3;
        grid-row: 2 / 4;
      }
    }
  }
}