.m-home-invitation {
  position: relative;
  padding: rem(31) rem(26) 0;
  p {
    margin-top: rem(18);
    &:first-child {
      margin-top: rem(28);
    }
  }
  &-star{
    position: relative;
    width: rem(375);
    margin: 0 rem(-26);
    z-index: 1;
    & > img.bg {
      position: relative;
      transform: translate(-15%, -10%);
      width: rem(500);
      animation: bg-load 1s linear infinite alternate;
      z-index: 2;
    }
    & > img.invitation {
      position: absolute;
      top: rem(52);
      left: 50%;
      transform: translateX(-50%);
      height: rem(300);
      z-index: 3;
    }
    .star-1 {
      position: absolute;
      top: rem(40);
      right: rem(26);
      width: rem(66);
      animation: star-load .8s .2s linear infinite alternate;
    }
    .star-2 {
      position: absolute;
      bottom: 40%;
      right: rem(-10);
      width: rem(63);
      animation: star-load .8s .4s linear infinite alternate;
    }
    .star-3 {
      position: absolute;
      bottom: rem(130);
      left: rem(0);
      width: rem(54);
      animation: star-load .8s .6s linear infinite alternate;
    }
  } 
}

@keyframes bg-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes star-load {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1.2);
  }
}