.m-home-footer {
  font-size: rem(13);
  margin-top: rem(52);
  & > img {
    display: block;
    width: rem(52);
    margin: 0 auto;
  }
  &-top {
    margin-top: rem(38);
    & > img {
      width: rem(54);
      margin-right: 69px;
    }
    & > .cont {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-family: 'Akrobat-Bold';
      margin: 0 rem(8);
      padding-bottom: rem(14);
      border-bottom: 1px solid #fff;
    }
    & > .link {
      margin-top: rem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      & > img {
        width: rem(19);
        margin-right: rem(27);
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  & > p {
    text-align: center;
    padding: rem(20) 0;
    &:last-child {
      padding-top: 0;
      margin-top: rem(-10);
    }
  }
}


