.m-profile {
  @include m-full-bg;
  background: imgurl('2.png') no-repeat;
  background-size: cover;
  &-cont {
    padding: 0 rem(13);
    box-sizing: border-box;
  }
  .profile-title {
    font-size: rem(21);
    font-family: 'Universal Serif';
    line-height: rem(29);
    font-weight: 400;
  }
}