.app-home-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: rem(98);
  padding: 0 200px;
  transition: all .3s;
  box-sizing: border-box;
  
  & > .cont {
    height: 100%;
    // @include center-1200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > .left {
      & > img {
        width: rem(72);
      }
    }
    & > .right {
      display: flex;
      align-items: center;
      font-family: 'Akrobat-Bold';
      font-size: 18px;
      & > .title, & > .link {
        display: flex;
        align-items: center;
      }
      & > .title {
        li {
          position: relative;
          height: 38px;
          margin-right: 58px;
          line-height: 38px;
          text-align: center;
          white-space: nowrap;
          cursor: pointer;
          &.active {
            &::after {
              content: '';
              position: absolute;
              left: 50%;
              transform: translate(-50%);
              top: 0;
              bottom: 0;
              width: 115px;
              background-image: imgurl('active-bg.png');
              background-size: 100% 100%;
            }
          }
        }
      }
      & > .link {
        & > img {
          cursor: pointer;
          width: 28px;
          margin-right: 20px;
          transition: all .4s ease-in-out;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      & > .wallet {
        position: relative;
        & > .connect {
          font-size: rem(18);
          height: rem(38);
          text-align: center;
          line-height: rem(38);
          border-radius: 7px;
          margin-left: 21px;
          width: rem(184);
          cursor: pointer;
          border: 1px solid #fff;
        }
        .wallet-connect {
          width: 100%;
          position: relative;
          left: 50%;
          transform: translate(-50%);
          border-radius: 8px;
          background: rgba(#000, .5);
          border-radius: 8px;
          margin-top: 4px;
          z-index: 2;
          transition: all 1s;
          opacity: 0;
          height: 0;
          overflow: hidden;
          & > li {
            height: rem(42);
            display: flex;
            align-items: center;
            justify-content: center;
            color:#fff;
            font-size: rem(18);
            padding-left: rem(24);
            box-sizing: border-box;
            text-align: center;
            &.left {
              justify-content: flex-start;
            }
            & > img {
              width: rem(24);
              margin-right: rem(13);
            }
          }
        }
        &:hover {
          .wallet-connect {
            height: auto;
            overflow: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  &.fixed {
    background-color: #000;
  }
}
@media screen and (max-width: 1380px) {
  .app-home-header {
    padding: 0 40px;
  }
}
@media screen and (min-width:1381px) and (max-width: 1600px) {
  .app-home-header {
    padding: 0 100px;
  }
}
@media screen and (min-width:1601px) and (max-width: 1920px) {
  .app-home-header {
    padding: 0 140px;
  }
}
