.app-home-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #000;
  height: rem(98);
  padding: 0 200px;
  transition: all .3s;
  box-sizing: border-box;
  & > .cont {
    height: 100%;
    // @include center-1200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > .left {
      & > img {
        width: rem(72);
      }
    }
    & > .right {
      display: flex;
      align-items: center;
      font-family: 'Akrobat-Bold';
      font-size: 18px;
      & > .title, & > .link {
        display: flex;
        align-items: center;
      }
      & > .title {
        li {
          width: 115px;
          height: 38px;
          margin-right: 29px;
          line-height: 38px;
          text-align: center;
          white-space: nowrap;
          cursor: pointer;
          &.active {
            background-image: imgurl('active-bg.png');
            background-size: 100% 100%;
          }
        }
      }
      & > .link {
        & > img {
          cursor: pointer;
          width: 28px;
          margin-right: 20px;
          transition: all .4s ease-in-out;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      & > .wallet {
        position: relative;
        & > .connect {
          height: 48px;
          text-align: center;
          line-height: 48px;
          border-radius: 7px;
          margin-left: 21px;
          width: 184px;
          cursor: pointer;
          border: 1px solid #fff;
        }
        .wallet-connect {
          width: 100%;
          position: relative;
          left: 50%;
          transform: translate(-50%);
          border-radius: 8px;
          background: rgba(#000, .5);
          border-radius: 8px;
          margin-top: 4px;
          z-index: 2;
          transition: all 1s;
          opacity: 0;
          height: 0;
          overflow: hidden;
          & > li {
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            color:#fff;
            font-size: 18px;
            box-sizing: border-box;
            & > img {
              width: 24px;
              margin-right: 13px;
            }
          }
        }
        &:hover {
          .wallet-connect {
            height: auto;
            overflow: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  .app-home-header {
    padding: 0 40px;
  }
}
@media screen and (min-width:1381px) and (max-width: 1600px) {
  .app-home-header {
    padding: 0 100px;
  }
}
@media screen and (min-width:1601px) and (max-width: 1920px) {
  .app-home-header {
    padding: 0 140px;
  }
}
