.app-home-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: rem(108);
  // padding: 0 200px;
  transition: all .3s;
  box-sizing: border-box;
  
  & > .cont {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > .left {
      & > img {
        width: rem(72);
        cursor: pointer;
      }
    }
    & > .right {
      display: flex;
      align-items: center;
      font-family: 'Akrobat-Bold';
      font-size: 18px;
      padding-right: rem(200);
      & > .title, & > .link {
        display: flex;
        align-items: center;
      }
      & > .title {
        li {
          min-width: 110px;
          height: 38px;
          position: relative;
          margin-right: rem(54);
          line-height: 38px;
          text-align: center;
          white-space: nowrap;
          cursor: pointer;
          .title-cont {
            width: 100%;
            position: absolute;
            top: 0;
            cursor: pointer;
            height: auto;
            &-top {
              position: relative;
              & > div {
                &> img.select {
                  position: relative;
                  top: rem(-14);
                  right: rem(-4);
                  width: rem(12);
                  transition: all .3s;
                }
              }
            }
            &-bottom {
              position: relative;
              width: 140px;
              transition: all .6s;
              left: 50%;
              transform: translate(-50%);
              opacity: 0;
              height: 0;
              overflow: hidden;
              margin-top: rem(24);
              & > div {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: rem(40);
                margin-top: rem(12);
                background-image: imgurl('account-bg.png');
                background-size: 100% 100%;
                font-size: rem(18);
                & > img {
                  width: rem(15);
                  margin-right: rem(6);
                }
                &:hover {
                  .comming {
                    display: block;
                  }
                }
              }
              &-tips {
                position: absolute;
                right: -5%;
                cursor: pointer;
                z-index: 10000;
                & > div.comming {
                  display: flex;
                  align-items: center;
                  top: 50%;
                  transform: translateY(-50%);
                  position: absolute;
                  padding: rem(8) rem(6);
                  background-color: #EF267C;
                  font-size: rem(18);
                  line-height: rem(18);
                  z-index: 10001;
                  display: none;
                  border-radius: rem(4);
                  & > img {
                    width: rem(10);
                    margin-right: rem(6);
                  }
                }
              }
            }
            &.active, &:hover {
              .title-cont-top{
                &::after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translate(-50%);
                  top: 0;
                  bottom: 0;
                  width: 140px;
                  background-image: imgurl('active-bg.png');
                  background-size: 100% 100%;
                }
              }
            }
            &:hover {
              .title-cont-bottom {
                opacity: 1;
                height: auto;
                overflow: visible;
              }
            }
          }
        }
      }
      & > .link {
        & > img {
          cursor: pointer;
          width: 28px;
          margin-right: 20px;
          transition: all .4s ease-in-out;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .avatar {
        width: rem(29);
        margin-left: rem(38);
        cursor: pointer;
      }
      .lang {
        position: relative;
        width: rem(77);
        height: rem(48);
        border-radius: rem(7);
        background-color: rgba(#fff, .2);
        &-cont {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          cursor: pointer;
          height: auto;
          &-top {
            margin-top: rem(12);
            // margin-left: rem(13);
            line-height: rem(24);
            display: flex;
            justify-content: center;
            align-items: center;
            & > img {
              width: rem(24);
              margin-right: rem(7);
              vertical-align: top;
              &:last-child {
                width: 8px;
                margin: 0;
                transition: all .3s;
              }
            }
          }
          &-bottom {
            transition: all .6s;
            opacity: 0;
            height: 0;
            overflow: hidden;
            margin-top: rem(24);
            & > div {
              display: flex;
              align-items: center;
              justify-content: center;
              width: rem(77);
              height: rem(40);
              margin-top: rem(12);
              background-image: imgurl('account-bg.png');
              background-size: 100% 100%;
              font-size: rem(18);
              & > img {
                width: rem(15);
                margin-right: rem(6);
              }
            }
          }
          &:hover {
            .lang-cont-bottom {
              opacity: 1;
              height: auto;
              overflow: visible;
            }
          }
        }
      }
      & > .wallet {
        position: absolute;
        right: 0;
        top: 30%;
        & > .connect {
          position: relative;
          width: rem(166);
          font-size: rem(18);
          height: rem(38);
          text-align: center;
          line-height: rem(38);
          border-radius: 7px;
          margin-left: 21px;
          cursor: pointer;
          border: 1px solid #fff;
          .icon {
            width: rem(19);
            margin-right: rem(11);
          }
        }
        .wallet-connect {
          width: rem(168);
          width: 100%;
          position: relative;
          top: rem(12);
          margin-left: 21px;
          z-index: 2;
          transition: all 1s;
          opacity: 0;
          height: 0;
          overflow: hidden;
          &.logout {
            & > li {
              height: rem(60);
              padding-left: rem(2);
              margin: 0;
            }
          }
          & > li {
            cursor: pointer;
            width: rem(166);
            display: flex;
            align-items: center;
            justify-content: center;
            color:#fff;
            font-size: rem(16);
            padding-left: rem(13);
            box-sizing: border-box;
            text-align: center;
            margin-bottom: rem(8);
            background-image: imgurl('account-bg.png');
            background-size: 100% 100%;
            &.left {
              justify-content: flex-start;
            }
            & > img {
              width: rem(24);
              margin-right: rem(13);
            }
          }
        }
        &:hover {
          // margin-top: rem(120);
          .wallet-connect {
            height: auto;
            overflow: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  &.fixed {
    background-color: #000;
  }
}
// @media screen and (max-width: 1380px) {
//   .app-home-header {
//     padding: 0 40px;
//   }
// }
// @media screen and (min-width:1381px) and (max-width: 1600px) {
//   .app-home-header {
//     padding: 0 100px;
//   }
// }
// @media screen and (min-width:1601px) and (max-width: 1920px) {
//   .app-home-header {
//     padding: 0 140px;
//   }
// }
