.web-home-raod-map {
  position: relative;
  background-image: imgurl('roadmap-bg.png');
  background-size: 100% 100%;
  padding-top: 85px;
  &-header {
    display: flex;
    align-items: center;
    position: absolute;
    left: -50px;
    right: -50px;
    top: 85px;
    & > img, & > span {
      margin-right: 102px;
      font-size: 58px;
      font-family: 'Universal Serif';
      text-transform: uppercase;
      font-weight: bold;
    }
    & > img {
      width: 330px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  & > .cont {
    min-width: 1200px;
    width: 100%;
    padding-top: 106px;
    & > img {
      width: 100%;
    }
  }
}