$min-width: 1200px;

@mixin max-center-1200 {
  display: block;
  width: rem(1200);
  min-width: 800px;
  margin: 0 auto;
}

@mixin center-1200 {
  display: block;
  width: $min-width;
  margin: 0 auto;
}

@mixin full-bg {
  min-height: 100vh;
  position: relative;
  background: imgurl('1.png') no-repeat;
  background-size: cover;
  background-position: 0 rem(-98);
  padding-top: rem(147);
  padding-bottom: rem(280);
  box-sizing: border-box;
}
@mixin full-bg-1 {
  min-height: 100vh;
  position: relative;
  background: imgurl('1-1.png') no-repeat;
  background-size: cover;
  background-position: 0 rem(-98);
  padding-top: rem(147);
  padding-bottom: rem(280);
  box-sizing: border-box;
}
@mixin m-full-bg {
  min-height: 100vh;
  position: relative;
  background: imgurl('m/bg-bottom.png') no-repeat;
  background-size: cover;
  background-position: 0 rem(38);
  padding-top: rem(65);
  box-sizing: border-box;
}


@function rem($px) {
  @return ($px * 0.01) + rem;
}

@function imgurl($url) {
  @return url('/../public/assets/' + $url);
}

