@import './base.scss';
@import './mixin.scss';
@import './color.scss';

@import "@/components/common/Button/index.scss";
@import "@/components/common/ContainerBg/index.scss";
@import "@/components/common/Stepper/index.scss";
@import "@/components/common/Tips/index.scss";
@import "@/components/mobile/Banner/index.scss";
@import "@/components/mobile/CardSwiper/idnex.scss";
@import "@/components/mobile/Feoverse/index.scss";
@import "@/components/mobile/Footer/index.scss";
@import "@/components/mobile/Header/index.scss";
@import "@/components/mobile/Invitation/index.scss";
@import "@/components/mobile/NFTHolders/index.scss";
@import "@/components/mobile/RoadMap/index.scss";
@import "@/components/web/AddressInput/index.scss";
@import "@/components/web/Banner/index.scss";
@import "@/components/web/CardSwiper/idnex.scss";
@import "@/components/web/ConnectIcon/index.scss";
@import "@/components/web/Feoverse/index.scss";
@import "@/components/web/Footer/index.scss";
@import "@/components/web/Header/index.scss";
@import "@/components/web/Invitation/index.scss";
@import "@/components/web/NFTHolders/index.scss";
@import "@/components/web/RoadMap/index.scss";
@import "@/page/Mobile/FAQS/index.scss";
@import "@/page/Mobile/Gallery/index.scss";
@import "@/page/Mobile/Home/index.scss";
@import "@/page/Mobile/index.scss";
@import "@/page/Mobile/Terms/index.scss";
@import "@/page/Web/FAQS/index.scss";
@import "@/page/Web/Gallery/index.scss";
@import "@/page/Web/Home/index.scss";
@import "@/page/Web/index.scss";
@import "@/page/Web/Profile/index.scss";
@import "@/page/Web/Repoch/index.scss";
@import "@/page/Web/Stake/Components/Banner/index.scss";
@import "@/page/Web/Stake/Components/Rewards/index.scss";
@import "@/page/Web/Stake/Components/Step1/index.scss";
@import "@/page/Web/Stake/Components/Step2/index.scss";
@import "@/page/Web/Stake/index.scss";
@import "@/page/Web/Terms/index.scss";
