.web-home-nft-holders {
  position: relative;
  margin-top: rem(105);
  padding-bottom: rem(90);
  z-index: 2;
  & > h1 {
    @include center-1200;
  }
  &-wrap {
    position: relative;
    @include center-1200;
    z-index: 3;
    & > ul {
      margin-top: rem(91);
      display: flex;
      align-items: center;
      color: #EF267C;
      & > li:first-child {
        margin-right: rem(61);
        font-size: rem(107);
        font-family: 'Akrobat-Bold';
        margin-top: -6px;
        font-weight: bold;
      }
      & > li:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > dt {
          font-family: 'Universal Serif';
          font-weight: bold;
          margin-bottom: rem(18);
          font-size: rem(28);
        text-transform: uppercase;
        }
        & > dd {
          color: #fff;
          font-size: rem(25);
        }
      }
    }
    & > img {
      width: rem(1195);
      margin-top: rem(69);
    }
  }
  &-person {
    height: rem(911);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}