.web-buy-success {
  background-image: imgurl('modal-bg.png');
  background-size: 100% 100%;
  padding: rem(46) rem(32);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > .left {
    font-size: rem(31);
    font-family: 'Universal Serif';
    & > h1{
      line-height: rem(90);
    }
    & > h2 {
      color: #EF267C;
      margin: rem(42) 0 rem(78) 0;
    }
    & > .btn-group {
      display: flex;
      align-items: center;
      .web-button:first-child {
        margin-right: rem(19);
      }
    }
  }
  & > .right {
    width: rem(360);
    border-radius: 20px;
    margin-left: rem(30);
  }
}