.web-stake-step3 {
  &-cont {
    padding: rem(52) rem(58);
    margin-top: rem(44);
    box-sizing: border-box;
    & > header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(50);
      font-size: rem(28);
    }
    & > ul.list {
      font-size: rem(25);
      border-bottom: rem(1) solid #fff;
      padding-bottom: rem(20);
      & > li {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        text-align: center;
        height: rem(57);
        line-height: rem(57);
        margin-bottom: rem(6);
        &:nth-child(2n-1) {
          background-color: rgba(#491236, .5);
        }
        .item {
          display: inline-block;
          margin-right: rem(6);
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    & > ul.bottom {
      padding-top: rem(42);
      border: 0;
    }
    .web-button {
      display: block;
      margin: rem(37) auto 0;
    }
  }
}