.m-profile-map {
  & > h1 {
    position: relative;
    display: inline-block;
   .question {
      position: absolute;
      width: rem(10);
      height: rem(10);
      background: imgurl('icon-question.png');
      background-size: 100% 100%;
      bottom: rem(12);
      left: rem(58);
      cursor: pointer;
      &-cont {
        position: relative;
        top: rem(-10);
        left: rem(-50);
        transform: translateY(-100%);
        background: imgurl('question-bg.png');
        background-size: 100% 100%;
        opacity: 0;
        overflow: hidden;
        height: 0;
        transition: all .3s;
        & > h3 {
          font-size: rem(15);
          margin-bottom: rem(8);
          text-transform: uppercase;
          font-family: 'Universal Serif';
          font-weight: 400;
          color: #EF267C;
          text-align: center;
        }
        &-list {
          display: grid;
          grid-template-columns: 1fr 4fr;
          align-items: center;
          font-size: rem(13);
          white-space:nowrap;
          font-family: "Lovato Light";
          & > li {
            word-break: break-all;
            &:first-child {
              text-align: center;
            }
          }
          &:nth-child(2n) {
            background-color: rgba(#EF267C, .2);
          }
        }
        & > p {
          font-size: rem(14);
          text-align: center;
          margin-top: rem(12);
          line-height: rem(18);
          font-family: "Lovato Light";
          margin-bottom: rem(25);
        }
      }
      &.active {
        .question-cont {
          width: rem(323);
          opacity: 1;
          overflow: visible;
          height: auto;
          padding: rem(10) rem(13);
          box-sizing: border-box;
        }
      }
    }
  }
  &-wrap {
    margin-top: rem(16);
    padding: rem(20) rem(13);
    box-sizing: border-box;
    & > p {
      line-height: rem(24);
      margin-bottom: rem(16);
      font-size: rem(13);
    }
    &-cont {
      display: grid;
      grid-template-columns: repeat(3, rem(106));
      grid-template-rows: repeat(3, rem(106));
      justify-content: center;
      & > div {
        position: relative;
        & > img {
          width: 103%;
        }
        & > span {
          height: rem(20);
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 0 rem(6) 0 rem(10);
          background-color: #EF267C;
          border-radius: rem(10)0 0 0 ;
          line-height: rem(20);
          font-size: rem(13);
          font-family: 'Universal Serif';
          font-weight: 400;
        }
    }
    }
    & > .web-button {
      display: block;
      margin: rem(20) auto 0;
    }
  }
}