.web-home-tips {
  max-width: 322px;
  height: 81px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 21px;
  box-sizing: border-box;
  border-radius: 26px;
  z-index: 9999;
  display: flex;
  align-items: center;
  background-image: imgurl('tips-bg.png');
  background-size: 100% 100%;
  & > img {
    width: 34px;
    margin-right: 15px;
  }
  & > span {
    font-size: 1.8rem;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Akrobat-Bold';
  }
}