.m-profile-gendies {
  margin-bottom: rem(43);
  display: flex;
  flex-direction: column;
  align-items: center;
  & > .top {
    line-height: rem(32);
    margin-bottom: rem(30);
    .profile-title {
      text-align: center;
    }
    & > dl {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: rem(47);
      font-size: rem(13);
      white-space: nowrap;
    }
    span {
      color: #EF267C;
    }
  }
}